<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="success"
          mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">CLEAN-ENERGY</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-searchbar color="light"></ion-searchbar>


  <ion-card>
       
    <ion-card-header>
       <ion-card-title class="tituloEnergia">ENERGIA LIMPIA</ion-card-title>
      </ion-card-header>


     <ion-card-content class="ion-padding contenido">
      La energía limpia o verde es aquella energía cuyo origen es renovable,
       generada mediante recursos naturales. 
       Las principales energías renovables que hay actualmente son la energía solar,
       la eólica, la hidráulica y la biomasa.
     </ion-card-content>
  </ion-card>



<!--ENERGIA EOLICA-->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size: 18px; font-family: monospace;">Energia Eolica</ion-card-title>
    </ion-card-header>

    <a href="https://www.enel.pe/es/sostenibilidad/que-es-la-energia-eolica-y-como-funciona.html" target="_blank">
      <ion-img src="/assets/eolica.jpg"></ion-img>
      </a>

    <ion-card-content class="ion-padding contenidoEnergias">
      La energía eólica es una fuente de energía renovable que se obtiene de la energía cinética del viento que mueve las palas de un aerogenerador el cual a su vez pone en funcionamiento una turbina que la convierte en energía eléctrica.
      El proceso comienza cuando el aerogenerador se posiciona para ...
    </ion-card-content>
    <a href="#" style="padding-left: 20px; font-size: 30px;">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-icon name="bookmark-outline"></ion-icon>
    </a>
      
    <ion-button size="small" color="Success" expand="full" 
    href="https://www.enel.pe/es/sostenibilidad/que-es-la-energia-eolica-y-como-funciona.html">Ver mas</ion-button>

  </ion-card>


  <!--ENERGIA CINETICA-->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size: 18px; font-family: monospace;">Energia Cinetica</ion-card-title>
    </ion-card-header>

    <a href="https://www.universidadviu.com/es/actualidad/nuestros-expertos/que-es-la-energia-cinetica-definicion" target="_blank">
      <ion-img src="/assets/cinetica.jpg"></ion-img>
      </a>

    <ion-card-content class="ion-padding contenidoEnergias">
      Es un tipo de energía mecánica, que se se asocia a los cueros que están en movimiento. Si no se mueve, no posee energía cinética...
    </ion-card-content>
    <a href="#" style="padding-left: 20px; font-size: 30px;">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-icon name="bookmark-outline"></ion-icon>
    </a>
      
    <ion-button size="small" color="Success" expand="full" 
    href="https://www.universidadviu.com/es/actualidad/nuestros-expertos/que-es-la-energia-cinetica-definicion">Ver mas</ion-button>

  </ion-card>



    <!--ENERGIA POTENCIAL-->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 18px; font-family: monospace;">Energia Potencial</ion-card-title>
      </ion-card-header>
  
      <a href="https://energia-nuclear.net/energia/energia-potencial" target="_blank">
        <ion-img src="/assets/potencial.jpg"></ion-img>
        </a>
  
      <ion-card-content class="ion-padding contenidoEnergias">
        La energía potencial es la energía que un objeto posee debido a su posición en un campo de fuerzas. También puede ser debido a la configuración de sus partes...
      </ion-card-content>
      <a href="#" style="padding-left: 20px; font-size: 30px;">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-icon name="bookmark-outline"></ion-icon>
      </a>
        
      <ion-button size="small" color="Success" expand="full" 
      href="https://energia-nuclear.net/energia/energia-potencial">Ver mas</ion-button>
  
    </ion-card>

    <!--ENERGIA POTENCIAL-->
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 18px; font-family: monospace;">Generador con sal</ion-card-title>
      </ion-card-header>
  
      <a href="https://computerhoy.com/noticias/hardware/lampara-que-funciona-agua-sal-te-permite-cargar-movil-30971#:~:text=El%20funcionamiento%20de%20este%20curioso,la%20soluci%C3%B3n%20salina%20como%20electrolito." target="_blank">
        <ion-img src="/assets/generador.jpg"></ion-img>
        </a>
  
      <ion-card-content class="ion-padding contenidoEnergias">
        El funcionamiento de este curioso invento es muy sencillo: lo único que hay que hacer es mezclar un vaso de agua con dos cucharadas de sal en el interior del dispositivo y la lámpara tendrá ocho horas de luz
      </ion-card-content>
      <a href="#" style="padding-left: 20px; font-size: 30px;">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-icon name="bookmark-outline"></ion-icon>
      </a>
        
      <ion-button size="small" color="Success" expand="full" 
      href="https://computerhoy.com/noticias/hardware/lampara-que-funciona-agua-sal-te-permite-cargar-movil-30971#:~:text=El%20funcionamiento%20de%20este%20curioso,la%20soluci%C3%B3n%20salina%20como%20electrolito.">Ver mas</ion-button>
  
    </ion-card>











  <!--REDES SOCIALES-->
  <ion-card >
    <ion-item href="https://www.youtube.com/watch?v=PXxTfcFr-zE&ab_channel=TvAgro" target="_blank" >
      <ion-icon name="logo-youtube" slot="start" color="success"></ion-icon>
      <ion-label  style="font-weight: bold;">Youtube</ion-label>
    </ion-item>
  
    <ion-item href="https://www.facebook.com/profile.php?id=100054532416218" target="_blank">
      <ion-icon name="logo-facebook" slot="start" color="success"></ion-icon>
      <ion-label  style="font-weight: bold;">Facebook</ion-label>
    </ion-item>
  
    <ion-item href="https://www.instagram.com/energiaverde/?hl=es" target="_blank">
      <ion-icon name="logo-instagram" slot="start" color="success"></ion-icon>
      <ion-label style="font-weight: bold;">Instagram</ion-label>
    </ion-item>      
  </ion-card>















</ion-content>
