.titulo{
    font-family: cursive;
    font-size: 11px;
}
.imagenPrincipal{
    padding: 30px;
}
.items{
    padding: 20px;
}
.iconos{
    font-size: 50px;
}
a{
    font-size: 20px;
    color: rgb(255, 248, 248);
    font-family: monospace;
}